mixin product_card(isDiscount, discountValue, isAvailable, name, price, isSale, oldPrice, prof, imgList)
  
  .product-card
    .product-card__header
      .product-card__header-action
        if isDiscount  
          span= discountValue
        button(type="button" aria-label="добавить в избранное") 
          svg(width="23" height="20")
            use(xlink:href="#icon-heart")
        
        button(type="button" aria-label="Сравнить") 
          svg(width="23" height="20")
            use(xlink:href="#icon-chart")
      
      .product-card-swiper-container 
        .swiper-wrapper
          each img in imgList
            .swiper-slide(data-offer= img.name)
              a(href="#")
                .color-badge
                img(src=img.url, alt=img.name)

    .product-card__content
      h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptate illo praesentium repudiandae magnam quaerat, alias quod, tenetur dignissimos aspernatur ab error harum labore at neque architecto, doloribus ex sit?
      if isAvailable
        span.product-card__content-available= 'В наличии'
          svg(width="17" height="17")
            use(xlink:href="#icon-notavailable")

      .product-card__content-price
        if isSale
          span.product-card__content-price-prof!= prof
          span.product-card__content-price-old= oldPrice
        span.product-card__content-price-actual= price

    .product-card-pagination
      .pagination-bullet(data-id="0").active
      .pagination-bullet(data-id="1")
      .pagination-bullet(data-id="2")
      .pagination-bullet(data-id="3")
      .pagination-bullet(data-id="4")
      .pagination-bullet(data-id="5")
    
    .product-card__footer
      button.cmn__btn.cmn__btn--color-bg.product-card__footer-btn Добавить в корзину
      button.cmn__btn.cmn__btn--reg Подробнее
        