-
  const category = [
    {
      icon: '#icon-smartphone',  
      name: 'Смартфоны Смартфоны Смартфоны Смартфоны Смартфоны',
      dataID: 1,

      class: 'active', 

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
              
              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                title: 'Аксессуары для телефонов',

                links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-tablet',  
      name: 'Планшеты',
      dataID: 2,

      innerLists: [

              {
                title: 'Смартфоны и ',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: ' для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-phone-case',  
      name: 'Чехлы',
      dataID: 3,

      innerLists: [

              {
                title: ' и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для ',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-glass',  
      name: 'Стекла',
      dataID: 4,

      innerLists: [

              {
                title: ' и ',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: ' для ',

                  links: ['Чехлы', ' стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-accessories',  
      name: 'Аксессуары',
      dataID: 5,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-watch',  
      name: 'Умные часы и браслеты Умные часыибраслеты',
      dataID: 6,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-phones',  
      name: 'Наушники и аудиотехника',
      dataID: 7,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-game',  
      name: 'Игровые приставки',
      dataID: 8,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-notebook',  
      name: 'Ноутбуки',
      dataID: 9,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-computer',  
      name: 'Мониторы',
      dataID: 10,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-tv',  
      name: 'Телевизоры',
      dataID: 11,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },

    {
      icon: '#icon-home',  
      name: 'Техника для дома',
      dataID: 12,

      innerLists: [

              {
                title: 'Смартфоны и телефоны',

                links: ['Samsung', 'Xiaomi', 'OnePlus', 'Apple', 'Смотреть все', 'Кнопочные телефоны', 'Радиотелефоны', 'Каталог смартфонов и телефонов']
              },

              {
                  title: 'Аксессуары для телефонов',

                  links: ['Чехлы', 'Защитные стекла', 'Защитные пленки', 'Кабели', 'Зарядные устройства', 'Внешние аккумуляторы', 'Автомобильные держатели', 'Попсокеты и кольца', 'Держатели', 'Карты памяти', 'Полезные услуги', 'Моноподы', 'Автомобильные зарядные устройства']
              },
          ],
    },
  ]

.catalog-menu
  .catalog-menu__wrapper
    button(aria-label="Закрыть").catalog-menu__close.js-close-catalog-menu
      svg(width="46" height="46")
        use(xlink:href="#icon-catalog-menu-close")
    .catalog-menu__container
      ul.catalog-menu__list 
        each item in category
          li.catalog-menu__item(class=item.class ? item.class : null data-id=item.dataID)
            a(href="#test").catalog-menu__link
              svg(width="32" height="32")
                use(xlink:href=item.icon)
              span= item.name

              button(type="button" aria-label="Развернуть")

            
            .catalog-menu__inner(class=item.class ? item.class : null)
              .catalog-menu__inner-container
                .menu__grid
                  .menu__grid-sizer
                    each inn in item.innerLists
                      .menu__grid-item 
                        a(href="")= inn.title

                        ul.catalog-menu__inner-cats
                          each link in inn.links
                            li.catalog-menu__inner-cats-item
                              a(href="#")= link

                img(src="./assets/img/catalog-menu-banner.jpg" alt="баннер" width="354" height="558")



      