-
  const catalog = [
    {
      title: 'Смартфоны', link: '#', class: 'active', icon: '#icon-photo',
      innerList: [
        {
            title: 'Apple', 
            id: '1',
            class: 'active',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Xiaomi',
            id: '2',
            products: [
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
            ]},
        {
            title: 'Realme',
            id: '3',
            products: [
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
            ]},
        {
            title: 'Sony',
            id: '4',
            products: [
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
            ]},
        {
            title: 'Blackview',
            id: '5',
            products: [
                'Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max',
                'Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max',
                'Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max',
            ]},
        {
            title: 'Honor',
            id: '6',
            products: [
                'Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max',
                'Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max',
                'Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max',
            ]},
        {
            title: 'Nokia',
            id: '7',
            products: [
                'Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max',
                'Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max',
                'Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max',
            ]},
        {   
            title: 'Samsung',
            id: '8',
            products: [
                'Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max',
                'Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max',
                'Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max',
            ]},
      ]
    },

    {
      title: 'Ноутбуки', link: '#', icon: '#icon-notebook2',
      innerList: [
        {
            title: 'Apple',
            id: '9',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {   
            title: 'Xiaomi',
            id: '10',
            products: [
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
            ]
        },
        {   
            title: 'Realme',
            id: '11',
            products: [
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
            ]
        },
        {   
            title: 'Sony',
            id: '12',
            products: [
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Планшеты', link: '#', icon: '#icon-tablet2',
      innerList: [
        {
            title: 'Apple',
            id: '13',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Xiaomi',
            id: '14',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Realme',
            id: '15',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Sony',
            id: '16',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Аудио', link: '#', icon: '#icon-phones2',
      innerList: [
        {
            title: 'Apple',
            id: '17',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Xiaomi',
            id: '18',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Realme',
            id: '19',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Sony',
            id: '20',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Blackview',
            id: '21',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Смарт-часы', link: '#', icon: '#icon-smart',
      innerList: [
        {title: 'Apple',
            id: '22',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Xiaomi',
            id: '23',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Realme',
            id: '24',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Sony',
            id: '25',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Бытовая техника', link: '#', icon: '#icon-tech',
      innerList: [
        {
            title: 'Apple',
            id: '26',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Xiaomi',
            id: '27',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Realme',
            id: '28',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Sony',
            id: '29',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Телевизоры', link: '#', icon: '#icon-tv2',
      innerList: [
        {title: 'Apple',
            id: '30',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        
        },
        {title: 'Xiaomi',
            id: '31',
            products: [
                'Xiaomi iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Realme',
            id: '32',
            products: [
                'Realme iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Sony',
            id: '33',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Blackview',
            id: '34',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Honor',
            id: '35',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Nokia',
            id: '36',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Samsung',
            id: '37',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Игровые приставки', link: '#', icon: '#icon-game2',
      innerList: [
        {title: 'Apple',
            id: '38',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Xiaomi',
            id: '39',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
      ]
    },
    {
      title: 'Самокаты и сегвеи', link: '#', icon: '#icon-segway',
      innerList: [
        {title: 'Apple',
            id: '40',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        }
      ]
    },
    {
      title: 'Для красоты и здоровья', link: '#', icon: '#icon-beauty',
      innerList: [
        {title: 'Apple',
            id: '41',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        }
      ]
    },
    {
      title: 'Квадрокоптеры', link: '#', icon: '#icon-quadro',
      innerList: [
        {
            title: 'Apple',
            id: '42',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        }
      ]
    },
    {
      title: 'Аксессуары', link: '#', icon: '#icon-accessories2',
      innerList: [
        {
            title: 'Apple',
            id: '43',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        }
      ]
    },
  ]

.catalog-menu
  .catalog-menu__wrapper
    button(type="button").js-catalog-menu-closer
      svg(width="16" height="16")
        use(xlink:href="#icon-close")
    
    ul.catalog-menu__list
      each item in catalog
        li(class=item.class ? item.class : null).catalog-menu__item.catalog-menu__item--cathegory
          a(href="test.html").catalog-menu__link.catalog-menu__link--cathegory
            svg(width="12" height="12").catalog-menu__link-arrow
              use(xlink:href='#icon-catalog-arrow')

            svg(width="20" height="20").catalog-menu__link-icon
              use(xlink:href=item.icon)
            span= item.title

          ul.catalog-menu__inner
            
            each inner in item.innerList
              li(class=inner.class ? inner.class : null data-cathegory-id= inner.id ).catalog-menu__item.catalog-menu__item--subcathegory
                a(href="test.html").catalog-menu__link.catalog-menu__link--subcathegory
                  svg(width="12" height="12").catalog-menu__link-arrow
                    use(xlink:href='#icon-catalog-arrow')
                  span= inner.title
            li.catalog-menu__item.catalog-menu__item--all
              a( href="test.html" ).catalog-menu__link
                span Все товары категории

      li.catalog-menu__item.catalog-menu__item--all
        a(href="test.html").catalog-menu__link
          span Весь каталог
    
    .catalog-menu__products
      each item in catalog
        each inner in item.innerList
          ul( class= inner.class ? inner.class : null  data-cathegory-id= inner.id ).catalog-menu__product-list
            li.catalog-menu__item.catalog-menu__item--back
              a( href="test.html" ).catalog-menu__link
                svg(width="12" height="12").catalog-menu__link-arrow
                  use(xlink:href='#icon-catalog-arrow')
                span Назад
            each product in inner.products
              li.catalog-menu__product-item
                a(href="product-test.html").catalog-menu__link.catalog-menu__link--product
                  span= product
            li.catalog-menu__item.catalog-menu__item--all
              a( href="test.html" ).catalog-menu__link
                span Все товары категории
    
    .catalog-menu__banner
      a(href="#") 
        img(src="./assets/img/cat-banner.png" alt="Баннер" width="400" height="535")