-
  const newsList = [
      {
          imgUrl: './assets/img/news-1.png',
          title: 'Sony анонсировала новую функцию PlayStation 5',
          desc: 'С 29 июля пользователи PS5 смогут использовать слот M.2 для подключения сторонних накопителей. Это позволит владельцам консолей расширить встроенную память устройства и сохранить большее количество игр и мультимедийного контента. В первую очередь функция будет доступна для участников программы бета-тестирования. Примерные сроки разблокировки данной опции для всех пользователей не раскрываются.'
      },

      {
          imgUrl: './assets/img/news-1.png',
          title: 'Sony анонсировала новую функцию PlayStation 5',
          desc: 'С 29 июля пользователи PS5 смогут использовать слот M.2 для подключения сторонних накопителей. Это позволит владельцам консолей расширить встроенную память устройства и сохранить большее количество игр и мультимедийного контента. В первую очередь функция будет доступна для участников программы бета-тестирования. Примерные сроки разблокировки данной опции для всех пользователей не раскрываются.'
      },

      {
          imgUrl: './assets/img/news-1.png',
          title: 'Sony анонсировала новую функцию PlayStation 5',
          desc: 'С 29 июля пользователи PS5 смогут использовать слот M.2 для подключения сторонних накопителей. Это позволит владельцам консолей расширить встроенную память устройства и сохранить большее количество игр и мультимедийного контента. В первую очередь функция будет доступна для участников программы бета-тестирования. Примерные сроки разблокировки данной опции для всех пользователей не раскрываются.'
      },
  ]

section.news-common
  .cmn__wrapper
    .news-common__wrapper
      .news-common__header
        h1.cmn__title Новости
        .breadcrumbs
          a(href="#") Главная
          a(href="#") Новости

      .news-common__content
        ul
          each news in newsList
            li
              .news-common__header
                img(src=news.imgUrl alt=news.title width="307" height="307")
                h2.cmn__title=news.title

              .news-common__container
                h2.cmn__title=news.title
                p=news.desc
  